.App {
  font-family: sans-serif;
  text-align: center;
}

.special_modal .modal-content {
  background-color: rgb(16, 209, 64);
  color: #fff;
  width: 100;
  height: 10;
}


.special_modal1 .modal-content {
  background-color: rgb(236, 5, 5);
  color: #fff;
  width: 100;
  height: 10;
}

